.banner-item {
    height: 500px;
    background: #000000;
    animation: fadeBackground 3s infinite; /* Set infinite to loop indefinitely */
    animation-fill-mode: forwards;
}
  
  @keyframes fadeBackground {
    0% { background-color: #1D231F; }
    50% { background-color: #222523; } /* Change the percentage based on your preference */
    100% { background-color: #1D231F; }
  }
.banner-item div
{
    color: white;
}

.nest-item-banner
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1.5em;

}
.div-img img
{
    width: 35em;
    height: 22em;
    border-radius: 12px;
    box-shadow: 1px 1px 25px #000000;
}

.h3
{
    font-size: 80px;
}
.p
{
    font-size: 20px;
}
@media screen and (max-width:1030px) {

    .div-img img
    {
        width: 29.2em;
        height: 16.2em;
    }
}

@media screen and (min-width:899px) and (max-width: 987px) {
    .banner-item {
        height: 450px;
    }
    
    .nest-item-banner
    {
        padding-top: 1.35em;
    
    }
    .div-img img
    {
        width: 25.2em;
        height: 16.2em;
    }
    
    .h3
    {
        font-size: 72px;
    }
    .p
    {
        font-size: 18px;
    }
}
@media screen and (min-width:800px) and (max-width: 899px) {
    .banner-item {
        height: 450px;
    }
    
    .nest-item-banner
    {
        padding-top: 1.35em;
    
    }
    .div-img img
    {
        width: 25.2em;
        height: 16.2em;
    }
    
    .h3
    {
        font-size: 72px;
    }
    .p
    {
        font-size: 18px;
    }
}
@media screen and (min-width:600px) and (max-width: 799px) {
    .banner-item {
        height: 360px;
    }
    
    .nest-item-banner
    {
        padding-top: 1.35em;
    
    }
    .div-img img
    {
        width: 18em;
        height: 12em;
    }
    
    .h3
    {
        font-size: 50px;
    }
    .p
    {
        font-size: 13px;
    }
}

@media screen and (min-width:500px) and (max-width: 599px) {
    .banner-item {
        height: 310px;
    }
    
    .nest-item-banner
    {
        padding-top: 1.35em;
    
    }
    .div-img img
    {
        width: 16em;
        height: 10em;
    }
    
    .h3
    {
        font-size: 40px;
    }
    .p
    {
        font-size: 12px;
    }
}
@media screen and (min-width:400px) and (max-width: 499px) {
    .banner-item {
        height: 420px;

    }
    
    .nest-item-banner
    {
        padding-top: 0em;
        display: flex;
        flex-direction: column-reverse;
    }
    .div-img img
    {
        width: 100%;
        height: 14em;
        margin-top: 1em;
        margin-right: 0.5em;
        margin-left: -0.5;
    }
    .neest-handp
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5em;
        margin-top: 1.5em;
    }
    
    .h3
    {
        font-size: 33px;
    }
    .p
    {
        font-size: 13px;
    }
}
@media screen and (min-width:300px) and (max-width: 399px) {
    .banner-item {
        height: 350px;

    }
    
    .nest-item-banner
    {
        padding-top: 0em;
        display: flex;
        flex-direction: column-reverse;
    }
    .div-img img
    {
        width: 100%;
        height: 11em;
        margin-top: 1.5em;
        margin-right: 0.5em;
        margin-left: -0.5;
    }
    .neest-handp
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3em;
        margin-top: 1em;
    }
    
    .h3
    {
        font-size: 25px;
    }
    .p
    {
        font-size: 11px;
    }
}


.div-img:hover img {
    transform: scale(1.1); 
    transition: transform 1.2s ease-in-out;
    border-radius: 12px;
    box-shadow: 1px 1px 60px #000000;
}

.h3-types
{
    color: #22C55E;
}


