
.nest-footer
{
    background-color: #1D231F;
    width: 100%;
    color: aliceblue;
}
.nest-footer-row
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: row wrap;
    padding-top: 2em;
    margin-left: 4em;
    margin-right: 4em;
}
.nest-footer-col
{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.nest-footer-row
.first
{
    width: 17em;
}

.dev-names
{
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}

.nest-icon-footer
{
    display: flex;
    justify-content: start;
}
.nest-icon-footer a
{
    margin-left: 1em;
    margin-right: 1em;
}

.icon-footer:hover,
.icon-footer:focus{
    width:25px;
    height: 25px;
}
.icon-footer {
    /* Set the initial size */
    width: 20px;
    height: 20px;
  
    /* Apply a transition for the width and height properties */
    transition: width 0.2s ease, height 0.2s ease;
}


@media screen and (max-width:747px) and (min-width: 605px) {
    .nest-social
    {
        margin-top: 2em;
    }
}

@media screen and (max-width:604px) and (min-width: 466px) {
    .nest-social , .nest-contact
    {
        margin-top: 2em;
    }
}

@media screen and (max-width:465px) and (min-width: 366px) {
    .nest-social , .nest-contact
    {
        margin-top: 2em;
    }
}