

.body-login,
.input-login,
.button-login {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

.body-login {
  color: hsl(0, 0%, 100%);
}

.input-login,
.button-login {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== LOGIN ===============*/
.loginlogin {
  padding-top: 25px;
  position: relative;
  display: grid;
  align-items: center;
}
.login_img {
  position: absolute;
  width: 100%;
  height: 160vh;
  object-fit: cover;
  object-position: center;
  margin-top: -55px;
}
.login__formlogin {
  position: relative;
  background-color: hsla(0, 0%, 10%, 0.1);
  border: 2px solid hsl(0, 0%, 100%);
  margin-inline: 1.5rem;
  padding: 2.5rem 1.5rem;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
}
.login__title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.login__content, .login__box {
  display: grid;
}
.login__content {
  row-gap: 1.75rem;
  margin-bottom: 1.5rem;
}
.login__box {
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 0.75rem;
  border-bottom: 2px solid hsl(0, 0%, 100%);
}
.login__icon, .login__eye {
  font-size: 1.25rem;
}
.login__input {
  width: 100%;
  padding-block: 0.8rem;
  background: none;
  color: hsl(0, 0%, 100%);
  position: relative;
  z-index: 1;
}
.login__box-input {
  position: relative;
}
.ri-user-3-line
{
  color: white;
}
.ri-lock-2-line
{
  color: white;
}
.login__eye
{
  color: white;
}


.login__label {
  position: absolute;
  left: 0;
  top: 13px;
  font-weight: 500;
  transition: top 0.3s, font-size 0.3s;
  color: white;
}
.login__eye {
  position: absolute;
  right: 0;
  top: 18px;
  z-index: 10;
  cursor: pointer;
}
.login__box:nth-child(2) .input-login {
  padding-right: 1.8rem;
}
.login__check, .login__check-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login__check {
  margin-bottom: 1.5rem;
}
.login__check-label, .login__forgotlogin, .login__registerlogin {
  font-size: .813rem;
  color: white;
}
.login__check-group {
  column-gap: 0.5rem;
}
.login__check-input {
  width: 16px;
  height: 16px;
}
.login__forgotlogin {
  color: hsl(0, 0%, 100%);
}
.login__forgotlogin:hover {
  text-decoration: underline;
}
.login__buttonlogin {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 100%);
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 2rem;
  margin-top: 1.2em;
}
.wrong-password
{
  color: rgb(255, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__buttonlogin:hover {
  background-color: #e4e4e4;
}
.login__buttonlogin:active {
  background-color: #c7c7c7;
  box-shadow: 1px 1px 7px ;
}
.login__registerlogin {
  text-align: center;
}
.login__registerlogin .a {
  color: hsl(0, 0%, 100%);
  font-weight: 500;
}
.login__registerlogin a:hover {
  text-decoration: underline;
}

/* Input focus move up label */
.login__input:focus + .login__label {
  top: -12px;
  font-size: .813rem;
}

/* Input focus sticky top label */
.login__input:not(:placeholder-shown).login__input:not(:focus) + .login__label {
  top: -12px;
  font-size: .813rem;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .loginlogin {
    justify-content: center;
  }
  .login__formlogin {
    width: 432px;
    padding: 4rem 3rem 3.5rem;
    border-radius: 1.5rem;
  }
  .login__title {
    font-size: 2rem;
  }
}

.login__title
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}