.active-menu {
    border-radius: 25px;
    border: 3px solid #cccccc;
    background-color: #2e3a32;
    padding-left: 14px !important;
    padding-right: 14px !important;
}
.active-menu-span {
    color: white;
    font-weight: 500;
}
.menu-container {
    padding: 0 48px;
}
.border-header
{
    border: solid 2px #cccccc;
    border-radius: 10px;
    border-style: dashed;
    margin: 16px;
    background-color: #ffffff;
}
.nav-LOGIN-REGISTER
{
    background-color: #2e3a32;
    border-radius: 6px;
}

.nav-LOGGED-IN
{
    background-color: #d6d6d6;
    border-radius: 12px;
}
.nav-LOGGED-IN:hover
{
    background-color: #2e3a32;
    color: white;
}

.nav-item > .nav-link > .login
{
    color: #fdfdfd;
}
.nav-item > .nav-link > .logged-in
{
    padding-left: 5px;
    color: #1a1a1a;
}
.logged-in:hover
{
    color: white;
}
.Link
{
    color: #1a1a1a;
    text-decoration: none;
}
.navbar-nav
{
    display: flex;
    justify-content: center;
    align-items: center;
}
div > ul
{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}
.navbar-collapse > ul > li
{
    display:block;
    justify-content: center;
}
.collapse > ul > li
{
    padding-left: 10px;
    padding-right: 10px;
}
header 
{
    position: sticky;
    z-index: 100;
    top: 0;
    width: 100%;
}
.main-caption
{
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Budget-Analysis
{
    border: solid 2px #202020;
    border-radius: 25px;
    padding: 3px 9px;
}


.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #2E3A32;
    --bs-btn-border-color: #2E3A32;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2E3A32;
    --bs-btn-hover-border-color: #2E3A32;
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2E3A32;
    --bs-btn-active-border-color: #2E3A32;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #2E3A32;
    --bs-btn-disabled-border-color: #2E3A32;
}
.nav-LOGGED-IN {
    background-color: #2E3A32;
    border-radius: 12px;
}
.dropdown
{
    background-color: none;
    border-radius: 12px;
}
/* .nest-profile-logout
{
    display: flex;
    justify-content: center;
} */